<div class="row">
    <div class="col-sm-3">
        <img src="~/Content/cognizant.png" style="height:80px;width:300px">
    </div>
    <div class="col-sm-6">
        <h4 style="color:red; text-align:center;">Session expired!</h4>
        <h2 style="text-align:center; color: navy;">Please Login Again!</h2>
    </div>
    <div class="col-sm-3">
        <button class="buttons">@Html.ActionLink("Admin", "LoginIndex", "Login", new { area = "" }, new { @style = "color:white" })</button>
        <button class="buttons">@Html.ActionLink("Shop Owner", "LoginIndex", "Login", new { area = "" }, new { @style = "color:white" })</button>
    </div>
</div>
<br />
<div>
    <img src="~/Content/shopping.jpg" style="height:330px;width:100%" class="image"><br />
    <h4 class="description">Cognizant mall is a shopping mall located in Banjara Hills, Hyderabad, India. The 350,000 sq ft (33,000 m2) mall was opened to public on 1 May 2020.</h4>
</div>
