@{
    ViewBag.Title = "Contact";
}
<div style="margin-left: 20px;">
    <h2 style="color:navy"> Cognizant Shopping Mall</h2>

    <address>
        Cognizant Shopping Mall<br />
        Banjara Hills<br />
        Hyderabad, INDIA<br />
        <label>Phone:</label>
        (991)-(234)-(5678)
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@cognizantshoppingmail.com">Support@cognizantshoppingmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@cognizantshoppingmall.com">Marketing@cognizantshoppingmail.com</a>
    </address>
</div>